<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <style>
    	.button{
   
            color: initial;
            padding: 2px 3px;
            text-align:center;
            text-decoration: none;
            display:inline-block; 
            font-size: 18px;
            margin:2px 2px;
            cursor: pointer;
    	}
    </style>
</head>
<body>

{% load crispy_forms_filters %}
        <legend><h1>User Information</h1></legend>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Save</button>
    </form>
    <br>
  	<a href="/show" class="button">Go Back</a>

</body>

</html>